body {
  background-color: #313338;
}

a {
  pointer-events: none;
  cursor: default;
}

hr {
  border: none;
  height: 5px;
  color: #efa237;
  /* old IE */
  background-color: #efa237;
  /* Modern Browsers */
}

.mainHeader {
  font-family: 'Russo One', sans-serif;
  font-size: 80px;
  text-align: left;
  padding-left: 25px;
  color: #c0c1c4;
}

.subHeader {
  font-family: 'Passion One', sans-serif;
  font-size: 25px;
  text-align: left;
  padding-left: 25px;
  color: #81858e;
}

.pointCount {
  font-family: 'Passion One', sans-serif;
  font-size: 40px;
  color: #ffffff;
}

.teamImage {
  width: 150px;
  height: 150px;
  background-color: white;
  border: 5px solid #ffffff;
  /*float: left;*/
  margin: 20px;
  overflow: hidden;

  -webkit-box-shadow: 5px 5px 10px #111;
  box-shadow: 5px 5px 10px #111;
}

.teamImage:hover {
  border: 5px solid #7ad0ff;
}

/*.teamImage:click {*/

/*   border: 6px solid #ffffff;*/

/*   background-color: #919191;*/

/*}*/

.headerImage {
  width: 350px;
  /*background-repeat: repeat-x;*/
  /*float: middle;*/
}

/* The Modal (background) */

.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
  padding-top: 60px;
  text-align: center;
}

/* Modal Content/Box */

.modal-content {
  text-align: center;
  background-color: #fefefe;
  padding: 30px;
  margin: 100px;
  /* 15% from the top and centered */
  border: 1px solid #888;
  
  /* Could be more or less, depending on screen size */
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}